@model IEnumerable<SG.Distributeur.Automatique.Models.ProduitPrix>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            @*<td>
                @Html.ActionLink("Modifier", "Edit", new { /* id=item.PrimaryKey */ }) |
               
                @Html.ActionLink("Supprimer", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
        }
    </tbody>
</table>
